/* General Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #414833;
    color: #ff7700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 250px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.button {
    background-color: #cc6912;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.hover:hover {
    background-color: #cc6912;
}

/* Hero Section */
#hero {
    background-color: #C2C5AA;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hero h2 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 20px;
}

/* Benefits Section - 3 Column Grid */
#benefits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #c9baa0;
}

.benefit-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.benefit-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.benefit-card h3 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
}

.benefit-card a {
    font-size: 1rem;
    color: #0066cc;
}

.benefit-card a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #414833;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-links ul li {
    display: inline;
    margin-right: 20px;
}

footer .social-links {
    margin-top: 20px;
}

footer .social-links a {
    margin: 0 10px;
}

footer .social-links img {
    width: 24px;
    height: 24px;
}

footer p {
    margin-top: 20px;
    font-size: 0.9rem;
}

.links {
    color: white;
}

.links:hover {
    color: #cc6912;
}
